/cmake-build-debug/
.idea/misc.xml
.idea/modules.xml
.idea/simple-text-editor.iml
.idea/vcs.xml
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-d04b1a7793c7e7ef1f62.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-05-12T15-10-31-0839.json
cmake-build-debug/build.ninja
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/Testing/Temporary/LastTest.log
.idea/misc.xml
.idea/modules.xml
.idea/simple-text-editor.iml
.idea/vcs.xml
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-d04b1a7793c7e7ef1f62.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-05-12T15-10-31-0839.json
cmake-build-debug/build.ninja
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-d04b1a7793c7e7ef1f62.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-05-12T15-10-31-0839.json
cmake-build-debug/build.ninja
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-d04b1a7793c7e7ef1f62.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-05-12T15-10-31-0839.json
cmake-build-debug/build.ninja
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/Testing/Temporary/LastTest.log
